*{
    font-family: sans-serif;
    color: white;
}

body{
    background-color: rgb(159, 61, 250);
    height: 96vh;
    width: 98%;
}
/* header section styling */
header{
    height: 80px;
    width: 100%;
    background-color: transparent;

}

#main{
    height: 80px;
    width: 95%;
    margin: auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-2{
    height: 40px;
    width: 55%;
    background-color: rgba(127, 255, 212, 0);
}

.nav-3{
    height: 16px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 30px;
    margin-top: 5px;
    font-size: 17px;
    padding: 8px;
    position: relative;
}

ul li{
    list-style-type: none;
    display: inline;
    margin-left: 11%;
    font-size: 17px;
}


.list-1{
    margin-left: 27%;
}

.list-4{
    height: 10px;
    width: 100px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: space-between;
}

.line1{
    height: 3px;
    width: 20px;
    background-color: aliceblue;
    border-radius: 20px;
}

.line2{
    height: 2.5px;
    width: 13px;
    background-color: aliceblue;
    border-radius: 20px;
}

.fas{
    position: absolute;
    top: 10%;
    right: 4%;
}

.nav-3:hover{
    box-shadow: 3px 3px 5px rgb(60, 21, 97);
}

section{
    width: 100%;
    height: 500px;
    border: none;
    display: flex;
    flex-direction: row;
}

.box-1{
    height: 500px;
    width: 50%;
    background-color: transparent;
}

.box-2{
    height: 500px;
    width: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* article styling */

article{
    background-color: transparent;
    width: 80%;
    height: 450px;
    margin: auto;
    position: relative;

}

h1{
    font-size: 45px;
}

p{
    font-size: 17px;
}

.button1{
    height: 40px;
    width: 120px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.button1:hover{
    box-shadow: inset .5px .5px 10px rgba(255, 255, 255, 0.769);
    transform: rotateY(360deg);
    transition: .3s ease-in-out;
}

.button2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid;
    padding: 8px;
    position: absolute;
    bottom: 41.5%;
    left: 27%;
}

.button2:hover{
    transform: perspective(800px) scale(1.5);
    color: transparent;
    transition: .3s;
}

.p-2{
    font-size: 10px;
    position: absolute;
    left: 44%;
    bottom: 42.5%;
}

.p-3{
    font-size: 10px;
    position: absolute;
    left: 36%;
    bottom: 44%;
}

.input{
    height: 50px;
    width: 60%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    position: absolute;
    bottom: 25%;
}

.search-bar{
    height: 47px;
    width: 50%;
    background-color: transparent;
    border: none;
    margin: auto;
    position: absolute;
    left: 0%;
    right: 0;
    top: 30%;
}

.search-bar:hover{
    opacity: 0;
    transition: .3s ease;
}

.search-button{
    height: 36px;
    width: 25%;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 3px;
    color: blueviolet;
    text-align: center;
    margin: auto;
    position: absolute;
    right: 2.5%;
    bottom: 0;
    top: 0;
    font-weight: 600;
    font-size: 15px;
}

.search-button:hover{
   height: 38px; 
   width: 27%;
   background-color: transparent;
   color: white;
   opacity: 1;
   font-size: 17px;
   transition: .3s ease-in-out;
}

#tnb-google-search-icon{
    height: 25px;
    width: 25px;
    margin: auto;
    position: absolute;
    left: 5%;
    top: 0;
    bottom: 0;
}

#tnb-google-search-icon:hover{
    filter: drop-shadow(1px 1px 2px white);
    transition: all .3s ease-in-out;
}

.p-4{
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 6%;
}

.p-4:hover{
    color: rgb(85, 0, 164);
    text-decoration: underline;
}

.slider{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.slider::-webkit-scrollbar{
    display: none;
}

.slide{
    scroll-snap-align: start;
    flex-shrink: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    filter: drop-shadow(1px 1px 50px rgba(255, 255, 255, 0.534));
}

.slide img{
    max-height: 80%;
    max-width: 80%;
    border-radius: 10px;
}

.four-dots{
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.dot{
    height: 8px;
    width: 8px;
    background-color: rgba(255, 255, 255, 0.29);
    border-radius: 50%;
    display: block;
    transition: background-color,height,width .3s;
}

.dot:hover, .dot:focus{
    background-color: white;
    height: 10px;
    width: 10px;
}

.dot:active{
    background-color: blueviolet;
}

.last{
    height: 40px;
    width: 40%;
    border: none;
    color: rgba(255, 255, 255, 0.303);
    text-align: end;
    font-size: small;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 8%;
}

ol li{
    list-style-type: none;
    display: inline;
    margin-left: 12%;
}

@media only screen and (max-width:1024px){
    ul li{
        list-style-type: none;
        display: inline;
        margin-left: 9%;
        font-size: 17px;
    }
    
    .list-1{
        margin-left: 20%;
    }

    .input{
        bottom: 20%;
    }

    .button2{
        bottom: 37.5%;
        left: 34%;
    }
    
    .p-2{
        left: 55%;
        bottom: 38.5%;
    }
    
    .p-3{
        left: 46%;
        bottom: 40%;
    }

    .search-button{
        font-size: small;
    }
}

@media only screen and (max-width:768px){
    ul li{
        display: none;
    }

    h1{
        font-size: 40px;
    }
    
    p{
        font-size: 15px;
    }

    .button2{
        bottom: 39%;
        left: 43%;
    }
    
    .p-2{
        left: 71%;
        bottom: 40%;
    }
    
    .p-3{
        left: 59%;
        bottom: 41%;
    }

    .input{
        width: 100%;
    }

    .last{
        display: none;
    }

    .search-button:hover{
        height: 36px; 
        width: 25%;
        font-size: 10px;
        transition: .3s ease-in-out;
     }
}


@media only screen and (max-width:376px){

    .nav-3{
        display: none;
    }

    section{
        flex-direction: row;
    }

    h1{
        font-size: 20px;
    }

    p{
        font-size: 10px;
    }

    .button1{
        height: 30px;
        width: 80px;
        border-radius: 3px;
        padding: 5px;
    }

    .button2{
        bottom: 45.5%;
        left: 0;
    }

    .p-2{
        left: 32%;
        bottom: 44.5%;
    }
    
    .p-3{
        left: 32%;
        bottom: 48%;
    }

    .input{
        height: 30px;
        width: 100%;
        border-radius: 2px;
        bottom: 35%;
    }

    .search-button{
        height: 26px;
        width: 28%;
        padding: 0;
        border-radius: 2px;
        font-size: 10px;
    }

    .search-button:hover{
        height: 26px; 
        width: 28%;
        font-size: 10px;
        transition: .3s ease-in-out;
     }

    .search-bar{
       font-size: 10px;
    }

    .p-4{
        bottom: 20%;
        left: 4%;
    }

    .slider{
        margin-bottom: auto;
        height: 80vh;
        width: 90%;
    }

    .slide img{
        max-height: 100%;
        max-width: 100%;
        border-radius: 10px;
    }

    .four-dots{
        position: absolute;
        top: 40%;
    }

    ol li{
        display: none;
    }
}

@media only screen and (max-width:320px){
    .button2{
        bottom: 40.5%;
    }

    .p-2{
        left: 36%;
        bottom: 40%;
    }
    
    .p-3{
        left: 36%;
        bottom: 43%;
    }

    #tnb-google-search-icon{
        height: 20px;
        width: 20px;
    }

    .input{
        bottom: 30%;
    }

    .search-bar{
        font-size: 8px;
    }
}

